package view

templ inputbox(){
    <div class="">
        <div id="inpt-box">
            <input type="text" placeholder="Type here..." id="inpt"  />
            <button type="button">ADD</button>
        </div>
    </div>
}