package view

templ inputbox(){
    <div class="">
        <form id="inpt-box">
            <input type="text" placeholder="Type here..." id="inpt" name="user-input"  />
            <button type="button">ADD</button>
        </form>
    </div>
}